# Menghitung jumlah baris menurut kriteria

# Import Modules

In [5]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [8]:
n_rows=10
n_cols=5
cols= tuple('ABCDE')
df= pd.DataFrame(np.random.randint(1,10,size= (n_rows,n_cols)),
                columns= cols)

df

   A  B  C  D  E
0  4  5  1  3  9
1  9  9  9  4  5
2  3  8  3  7  4
3  9  4  1  8  6
4  6  5  5  1  1
5  6  5  9  7  7
6  2  2  8  9  7
7  3  9  7  6  3
8  8  6  3  5  6
9  3  1  4  6  8

# Menghitung jumlah baris menurut kriteria tertentu

In [11]:
(df['A']<5).sum()

5

In [13]:
(df['A']<5).mean()

0.5