# 30: Akses nilai variabel pada query()

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [6]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  13  14  13  11   8
1  15  17   5   6   6
2   7   9  18   4   3
3   7  15  18  14  13
4   3  13  11  18  16

# Akses nilai variabel pada query()

In [9]:
df.query('A > 10')

    A   B   C   D  E
0  13  14  13  11  8
1  15  17   5   6  6

In [11]:
rerata = df['A'].mean()
rerata

9.0

In [13]:
df.query('A > @rerata')

    A   B   C   D  E
0  13  14  13  11  8
1  15  17   5   6  6