# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [6]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  15  16  19  13  16
1  13  10   4   6   2
2   7  16  17   9   5
3   6  12  19  13   5
4  18  10   3   8   4
5  12   6  18  10   7
6  12   9  11  16  13
7  12   5  13   3   8
8  19  18  16  18  17
9  14  14  13  12   6

# Seleksi kolom dan baris menggunakan loc

In [9]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  16  16
3  12   5
4  10   4

# Seleksi baris dengan kondisi

In [12]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  16  13  16
2  16   9   5
3  12  13   5
8  18  18  17
9  14  12   6

# Slicing Data Frame dengan loc

In [15]:
df.loc[0:4, 'B':'D']

    B   C   D
0  16  19  13
1  10   4   6
2  16  17   9
3  12  19  13
4  10   3   8