# 02: Pemilihan baris (rows selection) pada Data Frame

# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  4  2  2  4  3
1  4  1  1  1  1
2  4  4  2  2  1
3  1  2  2  1  1
4  2  4  2  4  1
5  2  4  4  2  4
6  4  4  3  2  2
7  3  1  4  1  1
8  3  3  4  3  2
9  1  1  1  4  2

# Selection dengan operator logika |

In [4]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
3  1  2  2  1  1
7  3  1  4  1  1
8  3  3  4  3  2
9  1  1  1  4  2

In [ ]:
#