# 07: Menghapus (drop) missing values (NaN)

# Import Modules

In [24]:
import pandas as pd
import numpy as np

print(pd.__version__)

2.2.2

# Persiapan Data Frame

In [26]:
n_rows = 30
n_cols = 4
cols = ['A', 'B', 'C', 'D']

df = pd.DataFrame(np.random.randn(n_rows, n_cols), columns=cols)

nan_mask = np.random.rand(n_rows, n_cols) < 0.2
df[nan_mask] = np.nan

df = df.reset_index()
df.head()

   index         A         B         C         D
0      0 -0.854455  1.985535  0.845997  0.303139
1      1       NaN       NaN  0.473323       NaN
2      2 -0.412186 -0.519422  0.745241       NaN
3      3 -1.261699       NaN -0.310540  0.775771
4      4  0.093629  1.459289 -1.165890  0.465557

In [28]:
df = df.rename(columns={'index':'Z'})
df.head()

   Z         A         B         C         D
0  0 -0.854455  1.985535  0.845997  0.303139
1  1       NaN       NaN  0.473323       NaN
2  2 -0.412186 -0.519422  0.745241       NaN
3  3 -1.261699       NaN -0.310540  0.775771
4  4  0.093629  1.459289 -1.165890  0.465557

In [34]:
df_backup = df.copy(deep=True)