# 47: Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types)

# Import Modules

In [3]:
import pandas as pd

print(pd.__version__)

2.2.2

# Persiapan Data Frame

In [8]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

# Deteksi dan penanganan kolom dengan tipe data beragam (mixed data types

In [11]:
df.dtypes

nama    object
ipk     object
dtype: object

In [13]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [15]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64

In [27]:
df['ipk'] = df['ipk'].astype(float)
print(df.head())

    nama   ipk
0   bejo  2.00
1   tejo  3.00
2   wati  3.00
3   tiwi  2.75
4  cecep  3.25

In [23]:
df['ipk'].apply(type).value_counts()

ipk
<class 'float'>    5
Name: count, dtype: int64